*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

/*****************************************
                 MAINBOX 
***********************************************/

.mainbox{
    display: flex;
    width: 100%;
}

/****************** ASIDE *****************/

aside{
    height: calc(100vh - 90px);
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    position: relative;
}

.firstpart , .secondpart {
    width: 100%;
    padding: 5px;
}

.firstpart #logo{
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

.firstpart .icon-menu .icon1 ,
.firstpart .icon-menu .icon2 ,
.firstpart .icon-menu .icon3 ,
.firstpart .icon-menu .icon4 { 
    width: 100%;
    border-left: 3px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #afafaf;
}

.firstpart .icon-menu .icon4 {
    border-left: 0;
    padding: 8px;
}

.firstpart .icon-menu .icon1:hover ,
.firstpart .icon-menu .icon2:hover ,
.firstpart .icon-menu .icon3:hover ,
.firstpart .icon-menu .icon4:hover { 
    color: white;
}

.firstpart .icon-menu .icon1{
    border-left: 3px solid #85b847;
    color: white;
}

.icon-menu img{
    max-width: 30px;
    padding: 5px;
    padding-right: 0;
    cursor: pointer;
}

aside h5 {
    padding-left: 8px;
    padding-top: 30px;
    padding-bottom: 5px;
    color: white;
}

aside p {
    font-size: 12px;
    padding-left: 8px;
}

aside .elenco-playlist{
    line-height: 35px;
}

.icon5 , .icon6{
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: #afafaf;
}

.secondpart .icon5:hover {
    color: white;
}

.icon6 p{
    color: white;
    font-size: 14px;
}

.icon5 img{
    max-width: 20px;
}

.icon6 img{
    max-width: 35px;
    padding-right: 10px;
    color: white;
}

aside .fa-plus-square{
    font-size: 30px;
}

.secondpart hr{
    margin-right: 10px;
    margin: 5px;
    margin-bottom: 15px;
}

.elenco-playlist a{
    text-decoration: none;
    color: #afafaf;
}

.elenco-playlist p:hover{
    color: white;
}


/****************** UPGRADE BANNER *****************/

.header-banner{
    height: 80px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-banner .upgrade-button{
    background-color:#000000;
    margin: 10px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:12px 31px;
	text-decoration:none;
}

.header-banner .upgrade-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/******************** CARDBOX *******************/

.cardbox {
    width: calc(100vw - 200px);
    height: calc(100vh - 170px);
    background-color: #141922;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.menu a{
    line-height: 40px;
    display: inline-block;
    list-style: none;
    margin: 0 12px;
    font-size: 11px;
    text-decoration: none;
    color: #afafaf;
}

.menu a:hover{
    color: white;
}

.evidenza-green{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#green-selector{
    width: 40px;
    height: 2px;
    background-color: #85b847;
    text-align: center;
    margin: -10px;
}

.card-row{
    padding: 25px;
    width: 100%;
    color: white;
}

.titles h2 {
    font-size: 23px;
}

.cards{
    display: flex;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    width: 16%;
    height: auto;
}

.card img{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

.cards .card .sub-cardbox{
    position: relative;
}

.sub-cardbox .far{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;   
    font-size: 50px;
}

.sub-cardbox:hover > .far{
    display: inline-block;
}

.sub-cardbox:hover > img{
    opacity: 0.5;
}

.sub-cardbox:hover{
    cursor: pointer;
}

.card h4{
    padding-bottom: 5px;
    font-size: 15px;
}

.titles p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}

.card .special-pic {
    border-radius: 50%;
}

.cardbox p , .cardbox h6{
    color: #7d7f84;
}

/********************************************************
                    FOOTERBOX
********************************************************/


.footerbox {
	width: 100%;
	height: 90px;
	background-color: #282828;
    display: flex;
    justify-content: space-between;
    /* position: relative;
    z-index: 1; */
}

.footer1 , .footer2 , .footer3 {
    height: 100%;
    display: flex;
    align-items: center;
    color: #afafaf;
    padding-bottom: 15px;
    padding-top: 10px;
}

/******************* sezione footer 1 **********************/


.footer1 img{
    max-width: 50px;
    padding: 10px;
    padding-right: 5px;
}

.song-info{
    padding: 8px;
}

.footer1 .song-info h6{
    font-size: 13px;
    color: white;
}

.footer1 .song-info p{
    font-size: 10px;
}

.footer1 .song-info p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer1 .song-icon{
    padding-left: 25px;
    display: flex;
}

.footer1 .song-icon .far{
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

.footer1 .song-icon .far:hover{
    color: white;
}

/******************** sezione footer 2 ********************/


.footer2 .timeline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    width: 35vw;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-buttons{
    padding-bottom: 15px;
    padding-top: 5px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    display: flex;
   
}

.player-buttons i{
    color: white;
    cursor: pointer;
}

.player-buttons .fa-play-circle{
    font-size: 25px;
}

.player-buttons .fa-play-circle:hover{
    transform: scale(1.2);
}

.timeline{
    padding-bottom: 7px;
}

.timebar {
    width: 85%;
    height: 4px;
    background-color: #717171;
    border-radius: 2px;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.timebar .fas{
    color: white;
    font-size: 15px;
    margin-left: -5px;
    display: none;
}

.time{
    font-size: x-small;
}

.slider {
    width: 25%;
    height: 4px;
    border-radius: 2px;
    background-color: #a3a3a3;
}

.slider a {
    width: 100%;
    height: 4px;
}
.timebar:hover > .slider{
    background-color: #a4dc5f;
}

.timebar:hover > .fas{
    display:block;
}

/****************** sezione footer 3 ******************/

.footer3 {
    justify-content: space-between;
    width: 250px;
    height: 100%;
    padding-right: 20px;
}

.volume {
    width: 100%;
    height: 4px;
    background-color: #717171;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.footer3 i {
    margin: 0 10px;
    font-size: 15px;
}

.footer3 a i {
    color: white;
}

.volume .fas{
    color: white;
    font-size: 15px;
    margin-left: -7px;
    display: none;
}

.volume:hover > .slider{
    background-color: #a4dc5f;
}

.volume:hover > .fas{
    display:block;
}







/*****************************************
                 Media query 
***********************************************/








@media screen and (max-width:1200px) {

    .cards {
        flex-wrap: wrap;
        justify-content: left;
    }
    .card {
        width: calc(100% / 4 - 13px)
    }

    .song-icon {
        flex-direction: column;
    }
}

@media screen and (max-width:900px) {
    .card {
        width: calc(100% / 2 - 13px)
    }
}







    
    









/****************** sezione footer 3 ******************/

/****************** sezione footer 3 ******************/

/****************** sezione footer 3 ******************/
