*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}



/*************************************************************************
                               MAINBOX 
*************************************************************************/

.mainbox{
    position: relative;
}

/***************************** ASIDE ***********************************/

aside{
    z-index: 1;
    position: fixed;
    height: 90%;
    width: 15%;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstpart , .secondpart {
    width: 100%;
    height: 200px;
    background-color: green;

}

/***************************** UPGRADE BANNER *****************************/

.header-banner{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-banner .upgrade-button{
    background-color:#000000;
    margin-right: 5px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:12px 31px;
	text-decoration:none;
}

/***************************** CARDBOX *****************************/

.cardbox {
    margin-left: 15%;
    top: 100px;
    background-color: violet;
    position: relative;
}

.menu{
    display: flex;
    justify-content: center;
    position: absolute;
}

.cardrow{

}


/*************************************************************************
                               FOOTERBOX
*************************************************************************/

.footerbox {
	width: 100vw;
	height: 10%;
	position: fixed;
	bottom: 0px;
	background-color: blue;
    display: flex;
    justify-content: space-between;
}

.footer1 , .footer2 , .footer3 {
    height: 100%;
    width: 215px;
    background-color: rgb(91, 91, 204);
}