*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}



/*************************************************************************
                               MAINBOX 
*************************************************************************/



.mainbox{
    display: flex;
}

/************************* ASIDE ***********************************/

aside{
    height: calc(100vh - 80px);
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstpart , .secondpart {
    width: 100%;
    height: 200px;

}

.firstpart img{
    width: 150px;
    padding: 10px;
}

.icon-menu{
    padding: 5px;
    color: white;
}

.icon-menu .icon1 ,
.icon-menu .icon2 ,
.icon-menu .icon3  { 
    width: 100%;
    border-left: 2px solid red;
    padding: 8px;
}

.secondpart {

}

/************************* UPGRADE BANNER ************************/

.header-banner{
    height: 70px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-banner .upgrade-button{
    background-color:#000000;
    margin-right: 5px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:12px 31px;
	text-decoration:none;
}

/***************************** CARDBOX *****************************/

.cardbox {
    width: calc(100vw - 200px);
    height: calc(100vh - 150px);
    background-color: #141922;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #7d7f84;
    padding: 5px;
}

.menu li{
    line-height: 40px;
    display: inline-block;
    list-style: none;
    margin: 0 12px;
    font-size: 12px;
}

.card-row{
    padding: 25px;
    width: 100%;
    color: white;
}

.titles h2 {
    font-size: 23px;
}

.cards{
    display: flex;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    width: 16%;
    height: auto;
}

.card img{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

.card h4{
    padding-bottom: 5px;
    font-size: 15px;
}

.titles p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}

.card .special-pic {
    border-radius: 50%;
}

.cardbox p , .cardbox h6{
    color: #7d7f84;
}

/*************************************************************************
                               FOOTERBOX
*************************************************************************/


.footerbox {
	width: 100%;
	height: 80px;
	background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer1 , .footer2 , .footer3 {
    height: 100%;
    width: 215px;
    background-color: rgb(91, 91, 204);
}