*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

/*************************************************************************
                               MAINBOX 
*************************************************************************/

.mainbox{
    display: flex;
}

/************************* ASIDE ***********************************/

aside{
    height: calc(100vh - 80px);
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.firstpart , .secondpart {
    width: 100%;
    padding: 5px;
    color: #afafaf;
}

.firstpart #logo{
    width: 150px;
    padding: 10px;
}

.firstpart .icon-menu .icon1 ,
.firstpart .icon-menu .icon2 ,
.firstpart .icon-menu .icon3 ,
.firstpart .icon-menu .icon4 { 
    width: 100%;
    border-left: 3px solid black;
    display: flex;
    align-items: center;
}

.firstpart .icon-menu .icon4 {
    border-left: 0;
    padding: 8px;
}

.firstpart .icon-menu .icon1{
    border-left: 3px solid #85b847;
    color: white;
}

.icon-menu img{
    max-width: 30px;
    padding: 5px;
    padding-right: 0;
}

aside h5 {
    padding-left: 8px;
    padding-top: 30px;
    padding-bottom: 5px;
    color: white;
}

aside p {
    font-size: 10px;
    padding-left: 8px;
}

aside .elenco-playlist{
    line-height: 35px;
}

.icon5 , .icon6{
    display: flex;
    align-items: center;
    padding: 5px;
}

.icon6 p{
    color: white;
    font-size: 14px;
}

.icon5 img{
    max-width: 20px;
}

.icon6 img{
    max-width: 35px;
    padding-right: 10px;
    color: white;
}

aside .fa-plus-square{
    font-size: 30px;
}

.secondpart hr{
    margin-right: 10px;
    margin: 5px;
    margin-bottom: 15px;
}






/************************* UPGRADE BANNER ************************/

.header-banner{
    height: 70px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-banner .upgrade-button{
    background-color:#000000;
    margin-right: 5px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:12px 31px;
	text-decoration:none;
}

/***************************** CARDBOX *****************************/

.cardbox {
    width: calc(100vw - 200px);
    height: calc(100vh - 150px);
    background-color: #141922;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #7d7f84;
    padding: 5px;
}

.menu li{
    line-height: 40px;
    display: inline-block;
    list-style: none;
    margin: 0 12px;
    font-size: 12px;
}

.card-row{
    padding: 25px;
    width: 100%;
    color: white;
}

.titles h2 {
    font-size: 23px;
}

.cards{
    display: flex;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    width: 16%;
    height: auto;
}

.card img{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

.card h4{
    padding-bottom: 5px;
    font-size: 15px;
}

.titles p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}

.card .special-pic {
    border-radius: 50%;
}

.cardbox p , .cardbox h6{
    color: #7d7f84;
}

/*************************************************************************
                               FOOTERBOX
*************************************************************************/


.footerbox {
	width: 100%;
	height: 80px;
	background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer1 , .footer2 , .footer3 {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    color: #afafaf;
}

.footer1 img{
    max-width: 50px;
    padding: 10px;
    padding-right: 5px;
}

.song-info{
    padding: 8px;
}

.footer1 .song-info h6{
    font-size: 13px;
    color: white;
}

.footer1 .song-info p{
    font-size: 10px;
}

.footer1 .song-icon{
    padding-left: 25px;
    display: flex;
}

.footer1 .song-icon .far{
    padding: 5px;
    font-size: 15px;
}