*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}



/*************************************************************************
                               MAINBOX 
*************************************************************************/

.mainbox{
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

/***************************** ASIDE ***********************************/

aside{
    z-index: 2;
    position: fixed;
    height: calc(100% - 80px);
    width: 200px;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstpart , .secondpart {
    width: 100%;
    height: 200px;
    background-color: green;

}

/***************************** UPGRADE BANNER *****************************/

.header-banner{
    z-index: 1;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-banner .upgrade-button{
    background-color:#000000;
    margin-right: 5px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:12px 31px;
	text-decoration:none;
}

/***************************** CARDBOX *****************************/

.cardbox {
    margin-left: 200px;
    width: calc(100vw - 215px);
    top: 70px;
    height: 3000px;
    background-color: violet;
    position: relative;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: yellow;
}

.menu li{
    line-height: 40px;
    display: inline-block;
    list-style: none;
    margin: 0 12px;
    font-size: 12px;
}

.card-row{
    padding: 20px;
}

.titles h2 {
    font-size: 23px;
}

.cards{
    
}

/*************************************************************************
                               FOOTERBOX
*************************************************************************/

.footerbox {
    z-index: 3;
	width: 100%;
	height: 80px;
	position: fixed;
	bottom: 0px;
	background-color: blue;
    display: flex;
    justify-content: space-between;
}

.footer1 , .footer2 , .footer3 {
    height: 100%;
    width: 215px;
    background-color: rgb(91, 91, 204);
}